h1 {
    font-size: 45px;
    color: #FFBF56;
    background-color: #000000;
    border-bottom: solid #997233 3px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 24px;
    line-height: 20px;
    padding: 2% 8%;
}

.item {
    background-color: #ffe5bb;
    border-bottom: solid #997233 1px;
    color: #997233;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

#myBtn {
    color: #72ABE5;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.3rem;
        margin: 10px 0;
    }

    .item {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 20px 0;
        padding: 0;
    }

    .item {
        font-size: 1.3rem;
    }
}